<nav id="nav">
    <ul class="links">
        <li class="{{ include.about }}"><a href="index.html">About</a></li>
        <li class="{{ include.portfolio }}"><a href="portfolio.html">Portfolio</a></li>
        <!--<li class="{{ include.blog }}"><a href="blog.html">Blog</a></li>
        <li class="{{ include.contact }}"><a href="contact.html">Contact</a></li>
        <li class="{{ include.test }}"><a href="test.html">Test</a></li>-->
        <!--<li><a href="generic.html">Blog</a></li>
        <li><a href="elements.html">Elements Reference</a></li>-->
    </ul>
    <ul class="icons">
        <!--<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
        <li><a href="https://www.linkedin.com/in/funanue/" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a href="https://github.com/funanue"  target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>